body::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.carousel {
    height:100%;
}

#main-slider{
    height:400px;
}

#logo{
    width:40%;
}

.navbar-inverse .navbar-brand {
  
     line-height:0px; 
   
}



@media screen and (max-width:600px) {
    #logo {
        margin-top:-40px;    
        width:60%;

    }
}